<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <model>
      <elements>
        <element interface="Bonfire.Feature.Kickfire.Analytics.Interfaces.Entries.ICustomerLookup, Bonfire.Feature.Kickfire.Analytics" implementation="Bonfire.Feature.Kickfire.Analytics.Models.Generated.CompanyLookupModel, Bonfire.Feature.Kickfire.Analytics" />
        <element interface="Bonfire.Feature.Kickfire.Analytics.Interfaces.Entries.IContactCustomerLookups, Bonfire.Feature.Kickfire.Analytics" implementation="Bonfire.Feature.Kickfire.Analytics.Models.Generated.ContactCustomerLookups, Bonfire.Feature.Kickfire.Analytics" />
        <element interface="Bonfire.Feature.Kickfire.Analytics.Interfaces.Entries.IElementCustomerLookup, Bonfire.Feature.Kickfire.Analytics" implementation="Bonfire.Feature.Kickfire.Analytics.Models.Generated.ElementCustomerLookup, Bonfire.Feature.Kickfire.Analytics" />
      </elements>
      <entities>
        <contact>
          <facets>
            <facet name="CompanyData" contract="Bonfire.Feature.Kickfire.Analytics.Interfaces.Entries.ICustomerLookup, Bonfire.Feature.Kickfire.Analytics" />
            <facet name="CompanyInformation" contract="Bonfire.Feature.Kickfire.Analytics.Interfaces.Entries.IContactCustomerLookups, Bonfire.Feature.Kickfire.Analytics" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>