<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mergeContacts>
        <processor patch:instead="*[@type='Sitecore.Analytics.Pipelines.MergeContacts.MergeContactFacets, Sitecore.Analytics']"
                   type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Analytics.MergeContacts.MergeFacets, Bonfire.Feature.Kickfire.Analytics" />
      </mergeContacts>
    </pipelines>
  </sitecore>
</configuration>