<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.createVisit.AdvancedIpData,Bonfire.Feature.Kickfire.Analytics" patch:after="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.InitializeProfile, Sitecore.Analytics']" />
      </createVisit>
    </pipelines>
    <settings>
      <!-- This is our default IP address for visits from 127.* -->

    </settings>
  </sitecore>
</configuration>
