<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <company-query>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.CompanyData.GetCompanyData, Bonfire.Feature.Kickfire.Analytics" />
          </company-query>
          <companyInfo-query>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.CompanyInfo.GetCompanyInfoData, Bonfire.Feature.Kickfire.Analytics" />
          </companyInfo-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <company>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.ConstructCompanyDataTable,Bonfire.Feature.Kickfire.Analytics" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">company-query</param>
            </processor>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.CompanyData.PopulateWithCompanyData, Bonfire.Feature.Kickfire.Analytics" />
          </company>
          <companyinfo>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.ConstructCompanyDataTable,Bonfire.Feature.Kickfire.Analytics" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">companyInfo-query</param>
            </processor>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.Reporting.CompanyInfo.PopulateWithCompanyData, Bonfire.Feature.Kickfire.Analytics" />
          </companyinfo>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileAggregateViews">
        <pipelines>
          <latest-visitors>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Reporting.Aggregate.Visitors.Processors.ConstructVisitorsDataTable, Bonfire.Feature.Kickfire.Analytics" patch:instead="processor[@type='Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.ConstructVisitorsDataTable, Sitecore.Cintel']"/>
            <processor type="Bonfire.Feature.Kickfire.Analytics.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Bonfire.Feature.Kickfire.Analytics" patch:instead="processor[@type='Sitecore.Cintel.Reporting.Aggregate.Visitors.Processors.QueryLatestVisitorsFromSearch, Sitecore.Cintel']"/>
          </latest-visitors>
        </pipelines>
      </group>
      <contactindexable.loadfields>
        <processor type="Bonfire.Feature.Kickfire.Analytics.Pipelines.CompanyIndexableLoadFields.LoadFields, Bonfire.Feature.Kickfire.Analytics" />
      </contactindexable.loadfields>
    </pipelines>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_analytics_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="contact.company" storageType="YES" indexType="TOKENIZED" vectorType="WITH_POSITIONS_OFFSETS" boost="1f" emptyString="_EMPTY_" nullValue="_NULL_" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                    <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
                  </field>
                </fieldNames>
              </fieldMap>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
    <experienceAnalytics>
      <!--<aggregation>
        --><!-- This section hosts the definitions of the Experience Analytics dimensions
            'id' attribute is the unique identifier and should match the ID of the corresponding dimension definition item in Marketing Control Panel
            'type' attribute references the fully qualified class name and assembly name with the dimension implementation.
        --><!--
        <dimensions>
          <dimension id="{C2D0D0D7-2C35-48A5-9B12-C1DECF734BAF}" type="Bonfire.Feature.Kickfire.Analytics.ExperienceAnalytics.Aggregation.Dimensions.ByCompany, Bonfire.Feature.Kickfire.Analytics" />
        </dimensions>
      </aggregation>-->
    </experienceAnalytics>
    <experienceProfile>
      <providers>
        <!-- Provides contact search functionality. -->
        <contactSearchProvider type="Bonfire.Feature.Kickfire.Analytics.Providers.ContactSearchProvider, Bonfire.Feature.Kickfire.Analytics" singleInstance="true"
          patch:instead="contactSearchProvider[@type='Sitecore.Cintel.ContactSearchProvider, Sitecore.Cintel']"/>
      </providers>
      <resultTransformManager>
        <resultTransformProvider clientName="speakClient" type="Sitecore.Cintel.Endpoint.Transfomers.ResultTransformProvider" singleInstance="true">
          <contactSearchResultTransformer>
            <add key="default" type="Bonfire.Feature.Kickfire.Analytics.Transformers.Contact.ContactSearchResultTransformer, Bonfire.Feature.Kickfire.Analytics" 
                 patch:instead="add[@key='default']"/>
          </contactSearchResultTransformer>
        </resultTransformProvider>
      </resultTransformManager>
    </experienceProfile>
  </sitecore>
</configuration>


    