<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <createVisit>
        <processor type="Bonfire.Feature.KickfireCore.Pipelines.createVisit.AdvancedIpData, Bonfire.Feature.KickfireCore" 
                   patch:after="processor[@type='Sitecore.Analytics.Pipelines.CreateVisits.InitializeProfile, Sitecore.Analytics']" />
      </createVisit>
    </pipelines>
    <services>
      <configurator type="Bonfire.Feature.KickfireCore.ServicesConfigurator.DiConfigurator, Bonfire.Feature.KickfireCore" />
    </services>
    <settings>
      <setting name= "Bonfire.Kickfire.MasterDatabaseName" value= "master" />
      <setting name= "Bonfire.Kickfire.ProcessSicCode" value= "false" />
      <setting name= "Bonfire.Kickfire.ConfigPath" value= "/sitecore/system/Modules/KickFire/Tracker Configuration" />
      <setting name= "Bonfire.Kickfire.Grouping" value= "{8F6AC979-C5EB-4300-820B-E7E264526588}" />
      <setting name= "Bonfire.Kickfire.Overrides" value= "{6F25CFF3-970F-477B-A9EB-B56465B34892}" />
      <setting name= "Bonfire.Kickfire.TrackerConfiguration" value= "{C5499790-2043-44B2-A7F5-AA077C23DF07}" />
      <setting name= "Bonfire.Kickfire.DefaultSicCode" value= "{9734434E-B9C0-4790-A077-C5B0837EA3D7}" />
    </settings>
  </sitecore>
</configuration>
