<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name= "Bonfire.Kickfire.MasterDatabaseName" value= "master" />
      <setting name= "Bonfire.Kickfire.ProcessSicCode" value= "false" />
      <setting name= "Bonfire.Kickfire.ConfigPath" value= "/sitecore/system/Modules/KickFire/Tracker Configuration" />
    </settings>
  </sitecore>
</configuration>
